@font-face {
	font-family: "Geist";
	src: url("@fontsource-variable/geist/files/geist-latin-wght-normal.woff2") format("woff2");
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

:root {
	font-family: "Geist", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	position: fixed;
	background-color: #fafafa;
    background-image:
        linear-gradient(
            rgb(0 0 0 / 3%) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgb(0 0 0 / 3%) 1px,
            transparent 1px
        );
    background-size: 32px 32px;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #d3d3d3;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #b3b3b3;
}

@media screen and (width <= 400px) {
	h2 {
		font-size: 15vw !important;
	}
}